def to_cloudevents_schema(event):
    return {'id':               event['messageId'],
            'source':           {{ eventSource }},
            'specversion':      '1.0',
            'type':             'com.azure.functions.serviceBusQueueTrigger',
            'datacontenttype':  'functions.ServiceBusMessage',
            'time':             event.enqueued_time_utc,
            'message_body':     event.get_body(),
            'deduplication_id': event.message_id,
            'group_id':         event.session_id,
            'queue_name':       {{ eventSource }},
            'data':             event}