def to_cloudevents_schema(event):
    utc_timestamp = datetime.datetime.utcnow().replace(tzinfo=datetime.timezone.utc).isoformat()
    return {'id':               context.invocation_id,
            'source':           {{ eventSource }},
            'specversion':      '1.0',
            'type':             'com.azure.functions.blobTrigger',
            'datacontenttype':  'functions.InputStream',
            'time':             utc_timestamp,
            'subject':          event.name,
            'data':             event}